@model Mantenimiento.Models.Oficina

@{
    ViewBag.Title = Model.nombreofi;

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<ol class="breadcrumb">
    <li><a href="~/">Empleados </a> </li>
    <li class="active">@(Model.nombreofi)</li>
</ol>

<div>
    <h4>Oficina</h4>
    <hr />
    <dl class="dl-horizontal">
     

      

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreofi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreofi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.idoficina }) |
    @Html.ActionLink("Regresar", "Index")
</p>
